{% load static %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" style="margin-top:0.2em;margin-left:2em;margin-right:2em;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'shop:allProdCat' %}" style="margin-top:0.2em;margin-left:2em;margin-right:2em;">All Products</a>
      </li>
       <li class="nav-item" style="margin-left:2em;margin-right:2em;">
           <div class="dropdown">
            <div class="dropbtn">Shop</div>
                <div class="dropdown-content">
                    {% for cat in links %}
                    <a href="{{cat.get_url}}">{{cat.name}}</a>
                    {% endfor %}
                </div>
            </div>
      </li>
      <li class="nav-item">
          {% if item_count > 0 %}
        <a class="nav-link" href="{% url 'cart:cart_detail' %}" style="margin-top:0.2em;margin-left:2em;margin-right:2em;"><i class="fa fa-shopping-cart"></i>({{ item_count }})</a>
          {% endif %}
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search_app:SearchResult' %}" method="get">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</nav>


<!--<nav>-->
<!--    <ul>-->
<!--        <li>-->
<!--            <a href="{% url 'shop:allProdCat' %}">All Products</a>-->
<!--        </li>-->
<!--        {% for cat in links %}-->
<!--        <li>-->
<!--            <a href="{{cat.get_url}}">{{cat.name}}</a>-->
<!--        </li>-->
<!--        {% endfor %}-->
<!--        <li>-->
<!--            Your Cart()-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->